@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #fff;
}

.wrapper {
  display: flexbox;
}

.main-nav {
  background-color: rgb(110, 110, 110);
  border-bottom: 5px solid red;
  height: 80px;
  overflow: hidden;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav a#home {
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 3rem;
  border-radius: 50%;
  margin-top: -12px;
  margin-left: -20px;
  height: 30px;
  padding: 22px;
  width: 30px;
}

.main-nav a {
  color: #fff;
  float: right;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 14px 4px;
  margin-right: 10px;
  transition: all 0.4s ease;
}

.main-nav a:hover {
  background: rgb(77, 77, 77);
  border-radius: 4px;
  transition: all 0.4s ease;
}

